* {
    box-sizing: border-box;
}

body {
    margin:0 50px;
    color:#404040;
    font-family: 'NeueHaasUnicaPro-Thin', sans-serif;
}

footer {
    text-align: center;
}

h1 {
    font-size:5em;
    font-family: 'Playfair Display', serif;
    font-weight:900;
    margin-bottom:0px;
    margin-top:20px;
}
h2 {
    font-size: 2.5em;
    font-family: 'NeueHaasUnicaPro-Thin', sans-serif;
    margin-top:0;
    margin-bottom: 20px;
}
h3 {
    font-family: 'Playfair Display', serif;
    font-size: 2em;
    margin:0;
}
img {
    max-width: 100%;
}
a {
    text-decoration: none;
    color:#04B274;
}
a:hover {
    color:#FFBD19;
}
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix {
    display: inline-block;
}
.divider {
    border-bottom:1px solid #A8A8A8;
    margin: 20px auto;
}
nav {
    font-size: 1.2em;
    text-align: right;
    vertical-align:baseline;
}
nav a {
    font-family:'GalanoClassic-Bold', sans-serif;
}
nav li {
    display:inline-block;
}

/*li:first-child::after {
    content: ' | ';
}
li:last-child::before {
    content: ' | ';
}*/

.content {
    max-width:960px;
    min-width:400px;
    text-align: left;
    font-family: 'GalanoClassic-Regular',sans-serif;
}
.dropcap {
    font-family: 'Playfair Display', serif;
    font-size: 2.5em;
    line-height: 1em;
    float:left;
    margin-right:10px;
    color:#FFBD19;
}
.intro {
    line-height: 1.5em;
    margin-bottom: 40px;
    min-width:250px;
}
.recent-work .item {
    margin-right:20px;
    margin-bottom:20px;
    display:inline-block;
    position: relative;
    height:300px;
    width:400px;
    white-space: nowrap;
    overflow:hidden;
}
.recent-work .item .img-container {
    height:300px;
    width:400px;
    overflow:hidden;
}
.recent-work a {
    color:#6E6E6E;
}
.recent-work .text-overlay {
    position: absolute;
    text-align: center;
    height:100%;
    width:100%;
    opacity:0;
    transition: all 0.2s linear;
}
.recent-work .text-overlay:hover {
    opacity:1;
    background-color: rgba(255,255,255, 0.85);
}
.recent-work .text-overlay .text {
    font-family: 'GalanoClassic-Bold',sans-serif;
    font-size: 1.5em;
    line-height: 50px;
    padding-top:125px;
}

.recent-work-page .preview-image {
    max-width:700px;
    width:50%;
    float:left;
    margin-right:5%;
}
.recent-work-page .content-container {
    width:45%;
    float:left;
}
.recent-work-page .content-container .site-link {
    font-size: 2.5em;
    margin-bottom:20px;
}
.recent-work-page .content-container li {
    list-style: disc;
}

@media (max-width: 764px) {
    h1 {
        font-size: 4.5em;
    }
    .recent-work-page .preview-image {
        width:100%;
        margin-right:0;
        margin-bottom: 40px;
    }
    .recent-work-page .content-container {
        width:100%;
    }
}
footer > div {
    display:inline-block;
}
.copyright {
    margin-bottom:20px;
    margin-right:20px;
}
.source {
    margin-bottom:20px;
}
